
/* ====================== FONTS ======================   */

@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;500&display=swap');

/* ====================== VARIABLES CSS ====================== */

:root{

  /* =========== Header Height =========== */

    --header-height: 180px;
    --header-mobile-height: 80px;

  /* =========== Colors =========== */

    --bg-color: #fff;
    --main-color: #9af5bc;
    --text-color: #3a811d;
    --hero-color: #d3d3d3;
    --hover-color:  #48952a;
    --button-color: #358a14;

  /* =========== Font sizes and Typo =========== */

    --body-font-family: 'Solway', sans-serif;

    --h1-font-size: 4.5rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 1.9rem;
    --h4-font-size: 1.8rem;
    --h5-font-size: 1.7rem;
    --title-font-size: 1.9rem;
    --normal-font-size: 1.7rem;
    --small-font-size: 1.7rem;
    --smallest-font-size: 1.5rem;
    --link-font-size: 1.5rem;
    --link-font-size-alt: 1.5rem;
    --button-font-size: 1.7rem;

    --similar-normal-font-size: 1.2rem;
    --similar-smallest-font-size: 1.3rem;
    --similar-h2-font-size: 1.4rem;

  /* =========== Font weight =========== */

    --font-medium: 200;
    --font-big: 500;

}

/* ====================== BASE ====================== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html { 
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body { 
	background: var(--bg-color);
  font-family: var(--body-font-family);
  font-weight: 200;
}

strong {
	font-weight: var(--font-big);
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5 {
  color: var(--text-color);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: 500;
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 200;
    font-size: var(--link-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
}

p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    line-height: 2.2rem;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
    height: auto;
}

button,input {
border: none;
outline: none;
}

button {
  cursor: pointer;
}

svg, img {
  display: block;
}

/* ====================== RE-USABLE VARIABLES ====================== */

.green {
  background-color: var(--main-color);
}

/* ====================== LAYOUTS ====================== */

.empty {
  height: var(--header-height);
  background-color: var(--hero-color);
}

.container{
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}

.br-footer {
  display: none;
}

/* ====================== HEADER ====================== */   

.header {
  z-index: 1000;
  filter:none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  }

/* =========== Header Navbar =========== */

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  }
  
/* =========== Header Logo =========== */
  
.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: 1rem;
}

.nav__logo-img{
  width: 140px;
}

.nav__logo-mobile-img {
  display: none;
  width: 180px;
}

/* =========== Header NavList =========== */

.nav__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__list{
  flex-direction: row;
  }   

.nav span{
  color: var(--text-color);
  font-size: 1rem;
}

.nav__link {
  font-weight: var(--font-big);
  transition: 0.2s ease;
  padding: 0.5rem;
  margin: 0 .4rem;
}

.nav__link:hover{
  color: var(--hover-color);
}

/* ====================== HEADER MOBILE ====================== */

#menuToggle
 {
  display:none;
  position: absolute;
  right: 35px;
  -webkit-user-select: none;
   user-select: none;
   
 }
 
 #menuToggle input
 {
  display: block;
  width: 38px;
  height: 30px;
  position: absolute;
  top: -6px;
  cursor: pointer;

  right: -5.5px;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 25px;
   height: 3px;
   margin-bottom: 5px;
   position: relative;
   
   background: var(--text-color);
   
   z-index: 1;
   
   transform-origin: 0% 0%;

   opacity: 1;
   
   transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: var(--text-color);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 400px;
   margin: 38px 0 0 0;
   padding: 33px 50px;
   right: -100px;
   height: 100vh;
   background: rgb(255, 255, 255);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li 
 {
   padding: 20px 0;
 }

 #menu li a {
	font-size: var(--link-font-size-alt);
	font-weight: 500;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   opacity: 1;
 }

/* ====================== HERO TITLE ====================== */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background-color: var(--hero-color);
}

/* ====================== FOOTER ====================== */

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: var(--main-color);
    padding: 8rem 4rem;
}

.footer__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__container div p:first-child {
    font-size: var(--normal-font-size);
}

.footer__container p {
    font-size: var(--normal-font-size);
    line-height: 2rem;
}

.footer__container ul {
  margin-bottom: 2.5rem ;
}

.footer__container div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contact-mobile { /* FOOTER CONTACT MODIFIED */
  display:none;
  padding: 0.5rem;
}

.footer__contact {
  padding: 0.5rem;
}

.footer__link {
  padding: 0.5rem;
  line-height: 3rem;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__img {
	max-width: 100%;
	width: 140px;
	height: auto;
}

.footer__social {
    display: flex;
    justify-content: center;
}

.footer__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px;
    border-radius: 25px;
    background-color: var(--text-color);
    width: 45px;
    height: 45px;
    transition: .2s ease;
}

.footer__social a:hover {
    background-color: var(--hover-color);
}

.footer__social i {
    font-size: 25px;
    color: var(--bg-color);

}

.footer__button {
    text-align: center;
    margin-top: 50px;
    color: var(--bg-color);
    background-color: var(--button-color);
    padding: 15px 0;
    width: 36rem;
    font-size: var(--button-font-size);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    transition: .2s ease;

}

.footer__button:hover {
    background-color: var(--hover-color);
}

.footer__button-mobile {
  display: none;
  text-align: center;
  padding: 2rem 0;
  background-color: var(--button-color);
  font-size: var(--button-font-size);
  color: var(--bg-color);
}

.footer__button-mobile:hover {
  background-color: var(--hover-color);
}