
/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;500&display=swap');

/* GLOBAL */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

html{ 
	height:100%; 
}

strong {
	font-weight: 500;
}

/* VARIABLES */

:root{

	--bg-color: rgb(255, 255, 255);;
	--text-color: rgb(41, 105, 90);
	--text-color2: rgb(255, 255, 255);

	--main-color: rgb(41, 105, 90);
	--big-font: 1.5rem;
	--h2-font: 2.2rem;
	--p-font: 1.1rem;
}

/* BODY */

body{ 
	min-height:100%; 
	padding:0; 
	margin:0; 
	position:relative; 
	display:block; 
	background: var(--bg-color);
	transition: all 0.3s;
	padding-bottom: 50px;
}

/* FOOTER */

/* FOOTER */

footer {
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer h3 {
	font-family: 'Solway', sans-serif;
	color: var(--text-color);
}


footer p {
	color: #fff;
}

footer a {
	color: #fff;
}
